<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated maps -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="maps.presentation.MapsModelWizardID"
            name="%_UI_MapsModelWizard_label"
            class="maps.presentation.MapsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MapsModelFile.gif">
         <description>%_UI_MapsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated maps -->
      <editor
            id="maps.presentation.MapsEditorID"
            name="%_UI_MapsEditor_label"
            icon="icons/full/obj16/MapsModelFile.gif"
            extensions="maps"
            class="maps.presentation.MapsEditor"
            contributorClass="maps.presentation.MapsActionBarContributor">
      </editor>
   </extension>

</plugin>
